<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="style.css">
        <title> {Title} </title>
        <link rel="icon" type="image/x-icon" href="photos/favicon.ico">
    </head>

    <body>
        <center>
            <br></br>
            <big> <big> <big> <big>
            <div id="container">
                 { Blog Title }
            </div>
            </big> </big> </big> </big>
            <br></br>
            <img src="photos/earth.webp" width=400 height=400></img>
            <br></br> <br></br> <br></br>
            <a href="">Documents</a>
            <a href="">Blog</a>
            <a href="">Home</a>
            <a href="">Contact</a>

            <br></br> <br></br> <br></br>
            <br></br> <br></br> <br></br>
            <br></br> <br></br> <br></br>
            <u>All Rights Reserved 2022 &copy;</u>
        </center>
    </body>
</html>
